.jpicker-wrapper {
  width: 320px;
  padding: 20px 10px 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ddd;

  .jpicker-arrow-right,
  .jpicker-arrow-left {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    cursor: pointer;
    transition: opacity .1s;
    opacity: 0.5;
    &:hover {
      opacity: 0.9;
    }
  }
  .jpicker-arrow-left {
    transform: rotate(180deg);
  }
  .jpicker-hidden {
    display: none;
  }
}
