.jpicker-menu {
  margin: 20px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  @include no-selection();

  .border-bottom {
    border: 0;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
    transition: border-color .1s;
    margin: 0 5px;
    &:hover {
      border-color: #777;
    }
  }
  .jpicker-menu-month {
    @extend .border-bottom;
    padding: 1px;
    width: 90px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
  }
  .jpicker-menu-year-value {
    @extend .border-bottom;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 54px;
    text-align: center;
    outline: none;
    height: 22px;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
