<div class="jpicker-menu">
    <div class="jpicker-arrow-left"></div>
    <div class="jpicker-menu-month">
        {{monthName}}
    </div>
    <div class="jpicker-menu-year">
        <input type="number" class="jpicker-menu-year-value" value="{{year}}">
    </div>
    <div class="jpicker-arrow-right"></div>
</div>
