<div class="jpicker-list-wrapper {{wrapperClass}}">
    <div class="jpicker-list">
        {{#elements}}
            <div class="jpicker-element {{#selected}}jpicker-selected{{/selected}}" data-key="{{key}}">{{name}}</div>
        {{/elements}}
    </div>
</div>
