<div class="jpicker-ranges-wrapper">
    <div class="jpickcer-ranges-title">{{title}}</div>
    <div class="jpicker-ranges-list">
        {{#ranges}}
            <div class="jpicker-range" data-key="{{id}}">{{label}}</div>
        {{/ranges}}
    </div>
</div>
