.jpicker-header-wrapper {
  text-align: center;
  margin-bottom: 20px;

  .jpicker-title {
    font-size: 0.9em;
    margin-bottom: 2px;
    font-weight: bold;
  }
  .jpicker-description {
    font-size: 0.7em;
  }
}
