<div class="jpicker-value-wrapper {{#twoValues}}jpicker-two-values{{/twoValues}} {{#dateOpacity1}}date-one-opacity{{/dateOpacity1}} {{#dateOpacity2}}date-two-opacity{{/dateOpacity2}}">
    <div class="jpicker-value-one">{{dateFormatted1}}</div>
    <div class="jpicker-value-separator">-</div>
    <div class="jpicker-value-two">{{dateFormatted2}}</div>
</div>
